body{
  background-color: #e8effa;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
    #todo-app .app-container{
      min-width: 350px;
      max-width: 380px;
    }
}

@media only screen and (min-width: 768px) {
  #todo-app .app-container{
    min-width: 430px;
    max-width: 470px;
  }
}

#todo-app{
  display: flex;
  justify-content: center;
}

#todo-app .app-container{
  background-color: #fff;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px lightgray;
  overflow: hidden;
}

#todo-app .title{
  color: steelblue;
  font-size: 35px;
  font-weight: 600;
}

#todo-app .add-input{
  margin-top: 1em;
  display: flex;
}

#todo-app .task-container{
  margin-top: 1em;
}

#todo-app .footer-app{
  margin-top: 1em;
  width: 100%;
  padding: 6px;
  background-color: steelblue;
  color: white;
  font-size: 14px;
  text-align: center;
}